<form action="/projects" method="post" id="new-project">
  <fieldset>
    <legend>Create a New Project</legend>
    <div class="control-group">
      <label for="name" class="control-label">Project Name</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="Project Name" value="{{name}}"/>
      </div>
    </div>
    <div class="control-group">
      <label for="description" class="control-label">Description</label>
      <div class="controls">
        <textarea name="description" id="description" cols="30" rows="5" >{{description}}</textarea>
      </div>
    </div>
    <br>
    <button type="submit" class="btn" data-action="submit">Submit</button>
  </fieldset>
</form>