<h1>{{name}}</h1>
<p class="description">{{description}}</p>

<div>
  <button class="btn btn-primary" data-action="edit">Edit</button>
  <button class="btn btn-danger" data-action="destroy">Delete</button>
</div>

<div class="clearfix"></div>
<hr>
<div id="issues"></div>